[Desktop Entry]
Type=Application
Categories=Utility;Application;
Name=CloudFail
Exec=gnome-terminal -- bash -c "cd /home/runar/OSINT/launchers && ./cloudfail.sh"
Icon=/home/runar/Downloads/runes/C.png
