[Desktop Entry]
Type=Application
Categories=Utility;Application;
Name=TheHarvester
Exec=gnome-terminal -- bash -c "cd /home/runar/OSINT/launchers && ./theharvester.sh"
Icon=/home/runar/Downloads/runes/H.png
